<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a><br>
      <a class="nav-item nav-link" routerLink="/login">Login</a><br>
      <a class="nav-item nav-link" routerLink="/logout">Logout</a><br>
      
      <a href="http://localhost:4300/">Train Booking</a>
  </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>